.card{
    display:flex;
    background-color: #fff;
    width: 500px;
    height: fit-content;
    border-radius:20px;
    margin:20px;
}

.card__image > img{
    height: 150px;
    border-radius:20px 0 0 20px;
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: 5px;
    text-align: center;
}

.card__name{
    color: #D05233;
    font-family: 'Racing Sans One', cursive;
    font-size: 18px;
}

.name__blue{
    color: #488180;

}

.card__button > button{
    background-color: #D05233;
    color: #fff;  
}

.card__button > button:hover{
    background-color: #fff;
    color:#D05233;  
}

.button__blue > button:hover{
    background-color: #fff;
    color:#488180;
}