.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin: 10px;
    
}

.header__center > h1{
    font-weight:400;
    line-height:50px;
    font-size:40px;
    font-family: 'Pacifico', cursive;
}

.header__left{
    flex:.35
}

.header__left > a{
    color: black;
    text-decoration:none;
}

.header__center{
    flex: .25;
}

.header__right{
    flex:.2
}

.header__right {
    display:flex;
}

.header__right > a{
    margin-right: 10px;
    margin-left:10px;
}

.header__right > a{
    color: black;
    text-decoration:none;
}