.home{
    display:flex;
    align-items:center;
    justify-content:center;
    height:90vh;
    background-image: url(https://cdn.discordapp.com/attachments/820174431895814154/820244981401780254/jaddy-liu-nk-xUZwSjR4-unsplash.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.home__icon {
    color: black;
    position:absolute;
    margin: 10px;
    top: 0;
    right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: rgba(211, 209, 222, 0.5);
    border-radius:25px
  }

  .dropdown-content > p{
      padding: 5px;
  }

  .home__icon:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
  }

.home__info{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.home__info > h1{
    font-family: Racing Sans One !important;
}

.home__info > button{
    color:#ECE380;
    border: 2px solid #fff;
}

.home__info > button:hover{
    color:#fff;
    border: 2px solid #ECE380;
    background-color:#ECE380;
}