.volunteer{
    height:85vh;
    background-image:url(https://cdn.discordapp.com/attachments/820174431895814154/820570411682496543/field-of-rapeseeds-oilseed-rape-blutenmeer-yellow-46164.jpg);
    padding: 20px;
    background-position: center;
    background-size: cover;
}

.volunteer__title > h1{
    text-align:center;
    color: #fff
}

.volunteer__cards{
    display:flex;
    justify-content:center;
    align-items:center;
    height:70vh;
}

.volunteer__left{
}

.volunteer__center{
    background: #C4C4C4 ;
    opacity:65%;
    padding:50px;
    text-align:center;

}

.volunteer__right{

}